[submodule "lib/serial"]
	path = lib/serial
	url = https://github.com/wjwwood/serial.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "module/ublox_neo_m8n-gps"]
	path = module/ublox_neo_m8n-gps
	url = https://github.com/bartashevich/UBLOX-NEO-M8N-GPS.git
