[submodule "lib/serial"]
	path = lib/serial
	url = https://github.com/wjwwood/serial.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "module/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "module/rpicam_cpp"]
	path = module/rpicam_cpp
	url = git@github.com:EwingKang/rpicam-cpp.git
